                <table class="table table-hover table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">date reported</th>
                            <th scope="col">country</th>
                            <th scope="col">country code</th>
                            <th scope="col">who region</th>
                            <th scope="col">new cases</th>
                            <th scope="col">cumulative cases</th>
                            <th scope="col">new deaths</th>
                            <th scope="col">cumulative deaths</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for owid_import in page_data.items %}
                        <tr>
                            <td>{{ owid_import.date_reported }}</td>
                            <td>{{ owid_import.country }}</td>
                            <td>{{ owid_import.country_code }}</td>
                            <td>{{ owid_import.who_region }}</td>
                            <td>{{ owid_import.new_cases }}</td>
                            <td>{{ owid_import.cumulative_cases }}</td>
                            <td>{{ owid_import.new_deaths }}</td>
                            <td>{{ owid_import.cumulative_deaths }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>