    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <!-- TODO: change URL to for_url() -->
                <th scope="col">
                    <a href="/owid/date_reported/all">
                        date reported
                    </a>
                </th>
                <th scope="col">
                    <a href="/owid/date_reported/{{ owid_date_reported.id }}/deaths_new">
                    deaths new
                    </a>
                </th>
                <th scope="col">
                    <a href="/owid/date_reported/{{ owid_date_reported.id }}/cases_new">
                    cases new
                    </a>
                </th>
                <th scope="col">
                    <a href="/owid/date_reported/{{ owid_date_reported.id }}/deaths_cumulative">
                    deaths cumulative
                    </a>
                </th>
                <th scope="col">
                    <a href="/owid/date_reported/{{ owid_date_reported.id }}/cases_cumulative">
                    cases cumulative
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for owid_data in page_data.items %}
            <tr>
                <th>
                    <a href="/owid/date_reported/{{ owid_data.date_reported.id }}">
                        {{ owid_data.date_reported }}
                    </a>
                </th>
                <td>
                    {{ owid_data.deaths_new }}
                </td>
                <td>
                    {{ owid_data.cases_new }}
                </td>
                <td>
                    {{ owid_data.deaths_cumulative }}
                </td>
                <td>
                    {{ owid_data.cases_cumulative }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>