                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Europe
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/europe/info">Europe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/info">Europe Info</a>
                        <a class="dropdown-item" href="/europe/tasks">Europe Tasks</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/date_reported/all">Europe date_reported</a>
                        <a class="dropdown-item" href="/europe/continent/all">Europe continent</a>
                        <a class="dropdown-item" href="/europe/country/all">Europe country</a>
                        <a class="dropdown-item" href="/europe/country/germany">Europe Germany</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/update/initial">Task: Europe :: update :: initial</a>
                        <a class="dropdown-item" href="/europe/update/short">Task: Europe :: update :: short</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/imported">Europe imported</a>
                    </div>
                </li>