    <table class="table table-hover table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">date reported</th>
            <th scope="col">year week</th>
        </tr>
        </thead>
        <tbody>
        {% for europe_date_reported in page_data.items %}
            <tr>
                <td>
                    <a href="/europe/date_reported/{{ europe_date_reported.id }}">
                        {{ europe_date_reported.date_rep }}
                    </a>
                </td>
                <td>
                    <a href="/europe/date_reported/{{ europe_date_reported.id }}">
                        {{ europe_date_reported.year_week }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>