    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <th scope="col">date reported</th>
                <th scope="col">year_week</th>
                <th scope="col">cases weekly</th>
                <th scope="col">deaths weekly</th>
                <th scope="col">population data 2019</th>
                <th scope="col">countries and territories</th>
                <th scope="col">geo id</th>
                <th scope="col">country territory code</th>
                <th scope="col">continent</th>
                <th scope="col">notification rate per 100000 population 14days</th>
            </tr>
        </thead>
        <tbody>
        {% for o in page_data.items %}
            <tr>
                <td>{{ o.date_rep }}</td>
                <td>{{ o.year_week }}</td>
                <td>{{ o.cases_weekly }}</td>
                <td>{{ o.deaths_weekly }}</td>
                <td>{{ o.pop_data_2019 }}</td>
                <td>{{ o.countries_and_territories }}</td>
                <td>{{ o.geo_id }}</td>
                <td>{{ o.country_territory_code }}</td>
                <td>{{ o.continent_exp }}</td>
                <td>{{ o.notification_rate_per_100000_population_14days }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>