    <table class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">datum</th>
                <th scope="col">dosen kumulativ</th>
                <th scope="col">dosen differenz zum vortag</th>
                <th scope="col">dosen biontech kumulativ</th>
                <th scope="col">dosen moderna kumulativ</th>
                <th scope="col">personen erst kumulativ</th>
                <th scope="col">personen voll kumulativ</th>
                <th scope="col">impf quote erst</th>
                <th scope="col">impf quote voll</th>
                <th scope="col">indikation alter dosen</th>
                <th scope="col">indikation beruf dosen</th>
                <th scope="col">indikation medizinisch dosen</th>
                <th scope="col">indikation pflegeheim dosen</th>
                <th scope="col">indikation alter erst</th>
                <th scope="col">indikation beruf erst</th>
                <th scope="col">indikation medizinisch erst</th>
                <th scope="col">indikation pflegeheim erst</th>
                <th scope="col">indikation alter voll</th>
                <th scope="col">indikation beruf voll</th>
                <th scope="col">indikation medizinisch voll</th>
                <th scope="col">indikation pflegeheim voll</th>
            </tr>
        </thead>
        <tbody>
        {% for vaccination_germany_timeline in page_data.items %}
            <tr>
                <td>{{ vaccination_germany_timeline.datum }}</td>
                <td>{{ vaccination_germany_timeline.dosen_kumulativ }}</td>
                <td>{{ vaccination_germany_timeline.dosen_differenz_zum_vortag }}</td>
                <td>{{ vaccination_germany_timeline.dosen_biontech_kumulativ }}</td>
                <td>{{ vaccination_germany_timeline.dosen_moderna_kumulativ }}</td>
                <td>{{ vaccination_germany_timeline.personen_erst_kumulativ }}</td>
                <td>{{ vaccination_germany_timeline.personen_voll_kumulativ }}</td>
                <td>{{ vaccination_germany_timeline.impf_quote_erst }}</td>
                <td>{{ vaccination_germany_timeline.impf_quote_voll }}</td>
                <td>{{ vaccination_germany_timeline.indikation_alter_dosen }}</td>
                <td>{{ vaccination_germany_timeline.indikation_beruf_dosen }}</td>
                <td>{{ vaccination_germany_timeline.indikation_medizinisch_dosen }}</td>
                <td>{{ vaccination_germany_timeline.indikation_pflegeheim_dosen }}</td>
                <td>{{ vaccination_germany_timeline.indikation_alter_erst }}</td>
                <td>{{ vaccination_germany_timeline.indikation_beruf_erst }}</td>
                <td>{{ vaccination_germany_timeline.indikation_medizinisch_erst }}</td>
                <td>{{ vaccination_germany_timeline.indikation_pflegeheim_erst }}</td>
                <td>{{ vaccination_germany_timeline.indikation_alter_voll }}</td>
                <td>{{ vaccination_germany_timeline.indikation_beruf_voll }}</td>
                <td>{{ vaccination_germany_timeline.indikation_medizinisch_voll }}</td>
                <td>{{ vaccination_germany_timeline.indikation_pflegeheim_voll }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>