    <table class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">date_reported</th>
                <th scope="col">country_code</th>
                <th scope="col">country</th>
                <th scope="col">who_region</th>
                <th scope="col">new_cases</th>
                <th scope="col">cumulative_cases</th>
                <th scope="col">new_deaths</th>
                <th scope="col">cumulative_deaths</th>
            </tr>
        </thead>
        <tbody>
        {% for vaccination_germany_timeline in page_data.items %}
            <tr>
                <td>{{ vaccination_germany_timeline.date_reported }}</td>
                <td>{{ vaccination_germany_timeline.country_code }}</td>
                <td>{{ vaccination_germany_timeline.country }}</td>
                <td>{{ vaccination_germany_timeline.who_region }}</td>
                <td>{{ vaccination_germany_timeline.new_cases }}</td>
                <td>{{ vaccination_germany_timeline.cumulative_cases }}</td>
                <td>{{ vaccination_germany_timeline.new_deaths }}</td>
                <td>{{ vaccination_germany_timeline.cumulative_deaths }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>