<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>{{page_info.title}}</title>
</head>
<body>
<div class="container">

    <header>
        <div class="tw_padding">
            {% include 'common/fragment_navbar.html' %}
        </div>
    </header>

    <section>
        <div class="tw_padding">
            {% include 'common/fragment_navtabs.html' %}
        </div>
        <div class="">
            {% block navigation_navtabs %}{% endblock %}
        </div>
        <div class="">
            {% block navigation_breadcrumb %}{% endblock %}
        </div>
    </section>

    <main>
        <div class="container tw_padding">
            {% include 'common/fragment_flashed_messages.html' %}
        </div>
        <div class="container tw_padding">
            {% block main_container %}{% endblock %}
        </div>
        <div class="tw_padding">
            {% block main_container_fluid %}{% endblock %}
        </div>
    </main>

    <section>
        <div class="tw_padding">
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
        </div>
    </section>

    <footer>
        <div class="">
        {% block footer_container %}{% endblock %}
        </div>
    </footer>

</div>
    <script src="/index.js"></script>
</body>
</html>