# --------------------------------------------------------------
# Covid 19 Data - Requirements Tools
# --------------------------------------------------------------
setuptools==53.0.0
pip==21.0.1
pip-licenses==3.3.0
wheel==0.36.2
#------------------------------------------
