# --------------------------------------------------------------
# Covid 19 Data - Requirements
# --------------------------------------------------------------
setuptools==53.0.0
pip==21.0.1
pip-licenses==3.3.0
wheel==0.36.2
#------------------------------------------
dash>=1.19.0
dash-extensions>=0.0.45
dtale>=1.33.1
#------------------------------------------
wget>=3.2
celery[redis]>=5.0.5
#------------------------------------------
Flask>=1.1.2
Flask-SQLAlchemy>=2.4.4
SQLAlchemy>=1.3.23
psycopg2>=2.8.6
Flask-Authorization>=1.4
Flask-Multipass>=0.3.3
Flask-Cors>=3.0.10
Flask-BS4>=4.5.3.0,<5.0.0.0
#------------------------------------------
test-flask>=0.2.0
pytest-flask>=1.1.0
#------------------------------------------
Flask-Redisboard>=0.2.0
Flask-Monitoring>=1.1.2
flask-healthz>=0.0.2
#------------------------------------------
Flask-DB>=0.3.0
flask-pwa>=0.1.0
Flask-Moment>=0.11.0
Flask-CKEditor>=0.4.4.1
flask-checkr>=0.1.2
Flask-Babel>=2.0.0
flask-whooshalchemy3>=0.2.0
Flask-PluginKit>=3.6.0
Flask-ResponseBuilder>=2.0.12
flask-was>=0.1.0
Flask-GraphQL>=2.0.1
flask-hintful>=0.0.7
Flask-Caching>=1.9.0
#------------------------------------------
manual-sitemap>=19.6.0
#permissions-system>=0.2.3
aiocronjob>=0.2.0
# --------------------------------------------------------------
# Frontend, Statistics, Data Vizualisation
# --------------------------------------------------------------
npmdownloader>=1.2.1
pyecharts>=1.9.0
pyecharts-extras>=0.0.5
reactive-pyecharts>=1.0.0
visdom>=0.1.8.9
tokenize-rt>=4.1.0
pynndescent>=0.5.1
torch>=1.7.1
numpy>=1.19.0
pandas>=1.1.0
scipy>=1.5.0
StatisticalDiagrams>=20.5
# --------------------------------------------------------------
# Tools:
# --------------------------------------------------------------
PyGObject>=3.38.0
gaphor>=2.2.1
#
#
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Cadidates ...
# --------------------------------------------------------------
#JetKit-Flask
#Flask-SeaSurf
#Flask-ESearch
#Flask-SSE
#Flask-AppBuilder
#flask-roles
#Flask-Login
#-----------------------------------------------------------------
#
#
#alabaster==0.7.12
#babel==2.8.0
#certifi==2020.6.20
#chardet==3.0.4
#docutils==0.16
#idna==2.10
#imagesize==1.2.0
#jinja2==2.11.3
#markupsafe==1.1.1
#packaging==20.9
#pygments==2.7.2
#pyparsing==2.4.7
#pytz==2020.1
#requests==2.24.0
#
#
#
#pallets-sphinx-themes==1.2.3
#snowballstemmer==2.0.0
#sphinx-issues==1.2.0
#sphinx-tabs==2.0.0
#sphinx==3.4.3
#sphinxcontrib-applehelp==1.0.2
#sphinxcontrib-devhelp==1.0.2
#sphinxcontrib-htmlhelp==1.0.3
#sphinxcontrib-jsmath==1.0.1
#sphinxcontrib-log-cabinet==1.0.1
#sphinxcontrib-qthelp==1.0.3
#sphinxcontrib-serializinghtml==1.1.4

