              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rki/info">RKI</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/imported">RKI imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/tasks">RKI Tasks</a>
                    </div>
                </li>
