{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'ecdc/fragments/fragment_ecdc_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_update_star_schema_initial') }}"
                       role="button">ECDC :: Task :: update :: star_schema :: initial</a>
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_update_starschema_incremental') }}"
                       role="button">ECDC :: Task :: update :: star_schema :: incremental</a>
                </div>
            </div>
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_download_only') }}"
                       role="button">ECDC :: Task :: download :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_import_only') }}"
                       role="button">ECDC :: Task :: import :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_update_dimensiontables_only') }}"
                       role="button">ECDC :: Task :: update :: dimension-tables : only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_update_facttable_incremental_only') }}"
                       role="button">ECDC :: Task :: update :: fact-table :: only :: incremental</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'ecdc.url_ecdc_task_update_facttable_initial_only') }}"
                       role="button">ECDC :: Task :: update :: fact-table :: only :: initial</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}