{% extends 'common/page_layout.html' %}

{% block navigation_jumbotron %}{% endblock %}

{% block navigation_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Regions</li>
        </ol>
    </nav>
{% endblock %}

{% block navigation_navtabs %}
  {% include 'who/fragments/fragment_who_navtabs.html' %}
{% endblock %}

{% block main_container_fluid %}
    {% if page_data.pages > 1 %}
        <!-- previous page -->
        <ul class="pagination">
        <!-- previous page -->
        {% if page_data.has_prev %}
        <li>
            <a href="{{ url_for('who.url_who_region_all', page=page_data.prev_num) }}">
                Previous
            </a>
        </li>
        {% endif %}
        <!-- all page numbers -->
        {% for page_num in page_data.iter_pages() %}
            {% if page_num %}
                {% if page_num != page_data.page %}
                    <li>
                        <a href="{{ url_for('who.url_who_region_all', page=page_num) }}">
                            {{ page_num }}
                        </a>
                    </li>
                {% else %}
                    <li class="active">
                        <a href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
           {% else %}
               <li>
                   <span class="ellipsis page-link my-page-item-ellipsis-page-link">…</span>
               </li>
           {% endif %}
        {% endfor %}
        <!-- next page -->
        {% if page_data.has_next %}
        <li>
            <a href="{{ url_for('who.url_who_region_all', page=page_data.next_num) }}">
                Next
            </a>
        </li>
        {% endif %}
        </ul>
    {% endif %}

    <table class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">who_region</th>
            </tr>
        </thead>
        <tbody>
        {% for who_region in page_data.items %}
            <tr>
                <td>
                    <a href="/who/region/{{ who_region.id }}">
                        {{ who_region.region }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
