{% extends 'application/page_layout.html' %}

{% block navigation_jumbotron %}{% endblock %}

{% block navigation_breadcrumb %}
    <!-- TODO: implement navigation_breadcrumb in .html -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/who/region/all">Regions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Countries</li>
        </ol>
    </nav>
{% endblock %}

{% block navigation_navtabs %}
  {% include 'who/fragments/fragment_who_navtabs.html' %}
{% endblock %}

{% block main_container_fluid %}

    {% if page_data.pages > 1 %}
        <!-- previous page -->
        <ul class="pagination">
        {% if page_data.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('who.url_who_region',
            region_id=who_region.id , page=page_data.prev_num) }}">Previous</a>
        </li>
        {% endif %}
        <!-- all page numbers -->
        {% for page_num in page_data.iter_pages() %}
            {% if page_num %}
                {% if page_num != page_data.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('who.url_who_region',
                        region_id=who_region.id ,page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
           {% else %}
               <li class="page-item">
                   <span class="ellipsis page-link my-page-item-ellipsis-page-link">…</span>
               </li>
           {% endif %}
        {% endfor %}
        <!-- next page -->
        {% if page_data.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('who.url_who_region',
            region_id=who_region.id , page=page_data.next_num) }}">Next</a>
        </li>
    {% endif %}
    </ul>
    {% endif %}

    {% include 'who/fragments/fragment_who_table_who_country.html' %}

{% endblock %}


{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}