                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="javascript:void(0)">
                        RKI Vaccination<i class="glyphicon glyphicon-chevron-down small"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                                RKI Vaccination
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_tasks') }}">
                                RKI Vaccination tasks
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                                RKI Vaccination Info
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_download_only') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_download_only
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_import_only') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_download_only
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_dimensiontables_only') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_update_dimensiontables_only
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_incremental_only') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_update_facttable_incremental_only
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_initial_only') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_update_facttable_initial_only
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_initial') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_update_starschema_initial
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_incremental') }}">
                                RKI Vaccination :: TASK:: url_vaccination_task_update_starschema_incremental
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_data') }}">
                                RKI Vaccination :: Data (Timeline Germany)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'rki_vaccination.url_vaccination_imported') }}">
                                RKI Vaccination :: imported (Timeline Germany)
                            </a>
                        </li>
                    </ul>
                </li>