                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRkiVaccination" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI Vaccination
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownRkiVaccination">
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                            RKI Vaccination
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_tasks') }}">
                            RKI Vaccination tasks
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                            RKI Vaccination Info
                        </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_download_only') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_download_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_import_only') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_download_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_dimensiontables_only') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_update_dimensiontables_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_incremental_only') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_update_facttable_incremental_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_initial_only') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_update_facttable_initial_only
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_initial') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_update_starschema_initial
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_incremental') }}">
                            RKI Vaccination :: TASK:: url_vaccination_task_update_starschema_incremental
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_data') }}">
                            RKI Vaccination :: Data (Timeline Germany)
                        </a>
                        <!-- Tasks -->
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_imported') }}">
                            RKI Vaccination :: imported (Timeline Germany)
                        </a>
                    </div>
                </li>