{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'who/navigation/who_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <form action="" method="POST" role="form" class="admin-form" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group ">
                            <label for="email" class="control-label" >Email
                                <strong style="color: red">&#42;</strong>
                            </label>
                            <input class="form-control" id="email" name="email" required type="text" value="">
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label" >Password
                                <strong style="color: red">&#42;</strong>
                            </label>
                            <input class="form-control" id="password" name="password" required type="text" value="">
                        </div>
                        <div class="form-group ">
                            <label for="accept_rules" class="control-label" style="display: block">Accept Rules
                                &nbsp
                            </label>
                            <input class="form-control-lg" id="accept_rules" name="accept_rules" type="checkbox" value="y">
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="submit-row">
                                <input type="submit" class="btn btn-primary" value="Login" />
                                <a href="/admin/user/" class="btn btn-danger" role="button" >Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
         </div>
     </div>
{% endblock %}




