{% extends 'page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block main_container %}
        <div class="tw_padding">
                <div class="jumbotron">
                    <h1 class="display-4">{{ page_info.title }}</h1>
                    <p class="lead">{{ page_info.subtitle }}</p>
                    <hr class="my-4">
                    <p>{{ page_info.subtitle_info }}</p>
                </div>
        </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



