    <div class="container">
        <div class="row-cols-1">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_info') }}">
                            RKI Bundeslaender Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_tasks') }}">
                            RKI Bundeslaender tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_imported') }}">
                            RKI Bundeslaender imported
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>