{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'rki_vaccination/navigation/rki_vaccination_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>RKI Vaccination Tasks</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_initial') }}"
                       role="button">Vaccination :: Task :: update :: star_schema :: initial</a>
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_incremental') }}"
                       role="button">Vaccination :: Task :: update :: star_schema :: incremental</a>
                </div>
            </div>
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_download_only') }}"
                       role="button">Vaccination :: Task :: download :: only</a>

                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_import_only') }}"
                       role="button">Vaccination :: Task :: import :: only</a>

                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_dimensiontables_only') }}"
                       role="button">Vaccination :: Task :: update :: dimension-tables : only</a>

                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_incremental_only') }}"
                       role="button">Vaccination :: Task :: update :: fact-table :: only :: incremental</a>

                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_initial_only') }}"
                       role="button">Vaccination :: Task :: update :: fact-table :: only :: initial</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




