{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'rki_vaccination/navigation/rki_vaccination_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3>Impfdashboard</h3>
                    <p>
                        <a href="https://impfdashboard.de/">
                            https://impfdashboard.de/
                        </a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <h3>Impfdashboard Datensatz</h3>
                    <p>
                        <a href="https://impfdashboard.de/static/data/germany_vaccinations_timeseries_v2.tsv">
                            https://impfdashboard.de/static/data/germany_vaccinations_timeseries_v2.tsv
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



