{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'who/fragments/fragment_who_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Dashboard
                        </div>
                        <div class="card-text">
                            WHO Coronavirus Disease (COVID-19)
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://covid19.who.int/">https://covid19.who.int</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Pandemic
                        </div>
                        <div class="card-text">
                            WHO Coronavirus Disease (COVID-19)
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                                novel-coronavirus-2019
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}




