{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'owid/navigation/owid_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Our World in Data
                        </div>
                        <div class="card-text">
                            Coronavirus Pandemic (COVID-19)
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://ourworldindata.org/coronavirus">
                                https://ourworldindata.org/coronavirus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            n.n
                        </div>
                        <div class="card-text">
                            n.n
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://ourworldindata.org/coronavirus">
                                n.n
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}




