{% extends "bootstrap/base.html" %}
{% block title %}{{page_info.title}}{% endblock %}

{% block navbar %}
{% include 'application/fragments/fragment_navbar.html' %}
{% endblock %}

{% block content %}
    {{super()}}
    {% include 'application/fragments/fragment_flashed_messages.html' %}
    {% include 'application/fragments/fragment_navtabs.html' %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='index.js')}} "></script>
{{super()}}
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}