{% extends 'page_layout.html' %}

{% block navigation_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Regions</li>
        </ol>
    </nav>
{% endblock %}

{% block navigation_navtabs %}
  {% include 'fragment_navtabs_who.html' %}
{% endblock %}

{% block main_container %}

    {% if page_data.pages > 1 %}
    <!-- previous page -->
        <ul class="pagination">
        {% if page_data.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('url_who_country_all', page=page_data.prev_num) }}">Previous</a>
        </li>
        {% endif %}
        <!-- all page numbers -->
        {% for page_num in page_data.iter_pages() %}
            {% if page_num %}
                {% if page_num != page_data.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('url_who_country_all', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
           {% else %}
               <li class="page-item">
                   <span class="ellipsis page-link my-page-item-ellipsis-page-link">…</span>
               </li>
           {% endif %}
        {% endfor %}
        <!-- next page -->
        {% if page_data.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('url_who_country_all', page=page_data.next_num) }}">Next</a>
        </li>
        {% endif %}
        </ul>
    {% endif %}

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">country_code</th>
                <th scope="col">country</th>
                <th scope="col">who_region</th>
            </tr>
        </thead>
        <tbody>
        {% for who_country in page_data.items %}
            <tr>
                <td><a href="/who/country/{{ who_country.id }}">{{ who_country.country_code }}</a></td>
                <td><a href="/who/country/{{ who_country.id }}">{{ who_country.country }}</a></td>
                <td><a href="/who/region/{{ who_country.region.id }}">{{ who_country.region.region }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
