{% extends 'layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block navigation_navtabs %}
  {% include 'fragment_navtabs_admin.html' %}
{% endblock %}

{% block main_container %}
    <div class="row">
        <div class="btn-group" role="group" aria-label="Views">
            <a class="btn btn-secondary btn-lg" href="/admin/alive_message" role="button">Admin :: alive message</a>
            <a class="btn btn-primary btn-lg" href="/admin/database/drop" role="button">Admin :: database :: drop_create</a>
            <a class="btn btn-secondary btn-lg" href="/admin/database/dump" role="button">Admin :: database :: dump</a>
            <a class="btn btn-primary btn-lg" href="/admin/database/import" role="button">Admin :: database :: import</a>
        </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



