            <nav>
                <ul class="nav nav-tabs">
                <!-- TODO: change URL to for_url() -->
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/info">Vaccination Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/tasks">Vaccination tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/timeline/germany">Vaccination :: Timeline :: Germany</a>
                    </li>
                </ul>
            </nav>