            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <!-- TODO: change URL to for_url() -->
                        <a class="nav-link" href="/rki/landkreise/info">RKI Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/tasks">RKI tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/imported">RKI imported</a>
                    </li>
                </ul>
            </nav>