            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/info">RKI Landkreise Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/tasks">RKI Landkreise tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/imported">RKI Landkreise imported</a>
                    </li>
                </ul>
            </nav>