              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI Landkreise
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rki/landkreise/info">RKI Landkreise</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/landkreise/imported">RKI Landkreise imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/landkreise/tasks">RKI Landkreise Tasks</a>
                    </div>
                </li>
