{% extends 'common/page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block navigation_navtabs %}
  {% include 'admin/fragments/fragment_admin_navtabs.html' %}
{% endblock %}

{% block main_container %}
    <div class="row">
       <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-secondary btn-lg btn-block text-left" href="/admin/alive_message" role="button">Admin :: alive message</a>
                <a class="btn btn-primary btn-lg btn-block text-left" href="/admin/database/drop" role="button">Admin :: database :: drop_create</a>
                <a class="btn btn-secondary btn-lg btn-block text-left" href="/admin/database/import" role="button">Admin :: database :: import</a>
                <a class="btn btn-primary btn-lg btn-block text-left" href="/admin/database/dump" role="button">Admin :: database :: dump</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



