{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'admin/fragments/fragment_admin_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-warning btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_alive_message_start') }}"
                       role="button">Admin :: alive message</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_database_dropcreate_only') }}"
                       role="button">Admin :: database :: drop_create :: only</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_database_dump') }}"
                       role="button">Admin :: database :: dump</a>
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_database_dump_reimport') }}"
                       role="button">Admin :: database :: dump :: reimport</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_index') }}"
                       role="button">Admin :: database :: Flask Admin</a>
                </div>
            </div>
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-success btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_download_all_files') }}"
                       role="button">Admin :: all_files :: download</a>
                    <a class="btn btn-info btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_import_all_files') }}"
                       role="button">Admin :: all_files :: import</a>
                    <a class="btn btn-warning btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_update_dimension_tables_only') }}"
                       role="button">Admin :: all_files :: update dimension_tables</a>
                    <a class="btn btn-danger btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_update_fact_table_incremental_only') }}"
                       role="button">Admin :: all_files :: update fact_table :: incremental</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_update_fact_table_initial_only') }}"
                       role="button">Admin :: all_files :: update fact_table :: initial</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-success btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_download_all_files') }}"
                       role="button">Admin :: all_files :: download</a>
                    <a class="btn btn-danger btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.run_update_star_schema_incremental') }}"
                       role="button">Admin :: all_files :: update star_schema :: incremental</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_update_star_schema_initial') }}"
                       role="button">Admin :: all_files :: update star_schema :: initial</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                     <a class="btn btn-success btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_database_drop') }}"
                       role="button">Admin :: database :: drop_create (import all in one)</a>
                </div>
                <p></p>
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'app_admin.url_admin_database_dump') }}"
                       role="button">Admin :: database :: dump</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



