{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'who/fragments/fragment_who_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_update_star_schema_initial') }}"
                       role="button">WHO :: Task :: update :: star_schema :: initial</a>
                    <a class="btn btn-primary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_update_star_schema_incremental') }}"
                       role="button">WHO :: Task :: update :: star_schema :: incremental</a>
                </div>
            </div>
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_download_only') }}"
                       role="button">WHO :: Task :: download :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_import_only') }}"
                       role="button">WHO :: Task :: import :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_update_dimension_tables_only') }}"
                       role="button">WHO :: Task :: update :: dimension-tables : only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_update_fact_table_incremental_only') }}"
                       role="button">WHO :: Task :: update :: fact-table :: only :: incremental</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'who.url_task_who_update_fact_table_initial_only') }}"
                       role="button">WHO :: Task :: update :: fact-table :: only :: initial</a>
                </div>
            </div>
         </div>
    </div>
{% endblock %}



{% block footer_container %}

{% endblock %}



