{% extends 'application/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'who/fragments/fragment_who_navtabs.html' %}

    <div class="container">
        <div class="row-cols-1">
            <h3>WHO Coronavirus Disease (COVID-19) Dashboard</h3>
            <p>
                <a href="https://covid19.who.int/">https://covid19.who.int</a>
            </p>
        </div>
        <div class="row-cols-1">
            <h3>WHO Coronavirus disease (COVID-19) pandemic</h3>
            <p>
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                    https://www.who.int/emergencies/diseases/novel-coronavirus-2019
                </a>
            </p>
        </div>
     </div>
{% endblock %}




