{% extends 'common/page_layout.html' %}

{% block navigation_breadcrumb %}
    <!-- TODO: implement navigation_breadcrumb in .html -->
{% endblock %}

{% block navigation_navtabs %}
  {% include 'who/fragments/fragment_who_navtabs.html' %}
{% endblock %}

{% block main_container %}
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-primary btn-lg btn-block text-left"
                   href="/who/task/update/star_schema/initial"
                   role="button">WHO :: Task :: update :: star_schema :: initial</a>
                <a class="btn btn-primary btn-lg btn-block text-left"
                   href="/who/task/update/star_schema/incremental"
                   role="button">WHO :: Task :: update :: star_schema :: incremental</a>
            </div>
        </div>
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/who/task/download/only"
                   role="button">WHO :: Task :: download :: only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/who/task/import/only"
                   role="button">WHO :: Task :: import :: only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/who/task/update/dimension-tables/only"
                   role="button">WHO :: Task :: update :: dimension-tables : only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/who/task/update/fact-table/incremental/only"
                   role="button">WHO :: Task :: update :: fact-table :: only :: incremental</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/who/task/update/fact-table/initial/only"
                   role="button">WHO :: Task :: update :: fact-table :: only :: initial</a>
            </div>
        </div>
    </div>
{% endblock %}



{% block footer_container %}

{% endblock %}



