{% extends 'common/page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block navigation_navtabs %}
  {% include 'rki/fragment_rki_navtabs.html' %}
{% endblock %}

{% block main_container %}
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-primary btn-lg" href="/rki/update/initial" role="button">RKI :: update :: initial</a>
                <a class="btn btn-secondary btn-lg" href="/rki/update/short" role="button">RKI :: update :: short</a>
            </div>
        </div>
    </div>
{% endblock %}



{% block footer_container %}

{% endblock %}



