    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <!-- TODO: change URL to for_url() -->
                <th scope="col">
                    country
                </th>
                <th scope="col">
                    country code
                </th>
                <th scope="col">
                    <a href="/who/region/all">region</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for who_country in page_data.items %}
            <tr>
                <td>
                    <a href="/who/country/{{ who_country.id }}">
                        {{ who_country.country }}
                    </a>
                </td>
                <td>
                    <a href="/who/country/{{ who_country.id }}">
                        {{ who_country.country_code }}
                    </a>
                </td>
                <th>
                    <a href="/who/region/{{ who_country.region.id }}">
                        {{ who_country.region.region }}
                    </a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="table-secondary">
            <tr>
                <th scope="col">
                    country
                </th>
                <th scope="col">
                    country code
                </th>
                <th scope="col">
                    <a href="/who/region/all">region</a>
                </th>
            </tr>
        </tfoot>
    </table>