
<div class="table-responsive">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
        {% include 'vaccination/fragments/fragment_vaccination_timeline_germany_table_head.html' %}
        </thead>
        <tbody>
        {% for vaccination_germany_timeline in page_data.items %}
            <tr>
                <td class="text-center table-dark" nowrap>{{ vaccination_germany_timeline.datum }}</td>

                <td class="text-right table-secondary">{{ vaccination_germany_timeline.dosen_differenz_zum_vortag }}</td>

                <td class="text-right table-warning">{{ vaccination_germany_timeline.dosen_kumulativ }}</td>
                <td class="text-right table-warning">{{ vaccination_germany_timeline.dosen_biontech_kumulativ }}</td>
                <td class="text-right table-warning">{{ vaccination_germany_timeline.dosen_moderna_kumulativ }}</td>

                <td class="text-right table-light">{{ vaccination_germany_timeline.personen_erst_kumulativ }}</td>
                <td class="text-right table-light">{{ vaccination_germany_timeline.personen_voll_kumulativ }}</td>

                <td class="text-right table-danger">{{ vaccination_germany_timeline.impf_quote_erst }}</td>
                <td class="text-right table-danger">{{ vaccination_germany_timeline.impf_quote_voll }}</td>

                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_alter_dosen }}</td>
                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_alter_erst }}</td>
                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_alter_voll }}</td>

                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_pflegeheim_dosen }}</td>
                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_pflegeheim_erst }}</td>
                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_pflegeheim_voll }}</td>

                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_beruf_dosen }}</td>
                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_beruf_erst }}</td>
                <td class="text-right table-light">{{ vaccination_germany_timeline.indikation_beruf_erst }}</td>

                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_medizinisch_dosen }}</td>
                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_medizinisch_erst }}</td>
                <td class="text-right table-secondary">{{ vaccination_germany_timeline.indikation_medizinisch_voll }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {% include 'vaccination/fragments/fragment_vaccination_timeline_germany_table_head.html' %}
        </tfoot>
    </table>
</div>