            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/tasks">RKI tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/info">RKI Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/imported">RKI imported</a>
                    </li>
                </ul>
            </nav>