              <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="javascript:void(0)">
                        RKI Landkreise<i class="glyphicon glyphicon-chevron-down small"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'rki_landkreise.url_rki_landkreise_info') }}">
                                RKI Landkreise
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'rki_landkreise.url_rki_landkreise_imported') }}">
                                RKI Landkreise imported
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'rki_landkreise.url_rki_landkreise_tasks') }}">
                                RKI Landkreise Tasks
                            </a>
                        </li>
                    </ul>
                </li>
