            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/who/tasks">WHO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eced/tasks">Europe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/vaccination/tasks">Vaccination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/bundeslaender/tasks">RKI Bundeslaender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/landkreise/tasks">RKI Landkreise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tasks">Admin</a>
                    </li>
                </ul>
            </nav>