              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI Landkreise
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_landkreise.url_rki_landkreise_info') }}">
                            RKI Landkreise
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_landkreise.url_rki_landkreise_imported') }}">
                            RKI Landkreise imported
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_landkreise.url_rki_landkreise_tasks') }}">
                            RKI Landkreise Tasks
                        </a>
                    </div>
                </li>
