{% extends 'common/page_layout.html' %}

{% block navigation_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/who/region/all">Regions</a></li>
            <li class="breadcrumb-item active" aria-current="page">TBD</li>
        </ol>
    </nav>
{% endblock %}

{% block navigation_navtabs %}
  {% include 'europe/fragments/fragments/fragment_europe_navtabs.html' %}
{% endblock %}

{% block main_container_fluid %}

    {% if page_data.pages > 1 %}
    <ul class="pagination">
        {% if page_data.has_prev %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for( 'url_europe_data', page=page_data.prev_num) }}">
                Previous
            </a>
        </li>
        {% endif %}
        {% for page_num in page_data.iter_pages() %}
            {% if page_num %}
                {% if page_num != page_data.page %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for( 'url_europe_data', page=page_num) }}">
                            {{ page_num }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
           {% else %}
               <li class="page-item">
                   <span class="ellipsis page-link my-page-item-ellipsis-page-link">…</span>
               </li>
           {% endif %}
        {% endfor %}
        {% if page_data.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="{{ url_for( 'url_europe_data', page=page_data.next_num) }}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

    {% include 'europe/fragments/fragments/fragment_europe_table_data.html' %}

{% endblock %}


{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}