                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vaccination
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                            Vaccination
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_tasks') }}">
                            Vaccination tasks
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_info') }}">
                            Vaccination Info
                        </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_datereported_all') }}">
                            Vaccination :: url_vaccination_datereported_all
                        </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_download_only') }}">
                            Vaccination :: TASK:: url_vaccination_task_download_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_import_only') }}">
                            Vaccination :: TASK:: url_vaccination_task_download_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_dimensiontables_only') }}">
                            Vaccination :: TASK:: url_vaccination_task_update_dimensiontables_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_incremental_only') }}">
                            Vaccination :: TASK:: url_vaccination_task_update_facttable_incremental_only
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_facttable_initial_only') }}">
                            Vaccination :: TASK:: url_vaccination_task_update_facttable_initial_only
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_initial') }}">
                            Vaccination :: TASK:: url_vaccination_task_update_starschema_initial
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_task_update_starschema_incremental') }}">
                            Vaccination :: TASK:: url_vaccination_task_update_starschema_incremental
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_data') }}">
                            Vaccination Timeline Germany Data
                        </a>
                        <!-- Tasks -->
                        <a class="dropdown-item"
                           href="{{ url_for( 'rki_vaccination.url_vaccination_imported') }}">
                            Vaccination Timeline Germany imported
                        </a>
                    </div>
                </li>