                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOwid"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        OWID
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownOwid">
                        <a class="dropdown-item"
                           href="{{ url_for( 'owid.url_owid_date_reported_all') }}">
                            OWID Date Reported
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'owid.url_owid_imported') }}">
                            OWID imported
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for( 'owid.url_owid_info') }}">
                            OWID Info
                        </a>
                        <a class="dropdown-item"
                           href="{{ url_for( 'owid.url_owid_tasks') }}">
                            OWID Tasks
                        </a>
                    </div>
                </li>