                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- TODO: change URL to for_url() -->
                        <a class="dropdown-item" href="/admin/tasks">Admin</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/tasks">admin tasks</a>
                        <a class="dropdown-item" href="/admin/info">admin info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/alive_message">Task: Admin :: alive message</a>
                        <a class="dropdown-item" href="/admin/database/drop">Task: Admin :: database :: drop_create</a>
                        <a class="dropdown-item" href="/admin/database/dump">Task: Admin :: database :: dump</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/database/import">Task: Admin :: database :: import (TBD)</a>
                    </div>
                </li>