                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_tasks') }}">
                            Admin
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_tasks') }}">
                            admin tasks
                        </a>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_info') }}">
                            admin info
                        </a>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_index') }}">
                            flask admin
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_alive_message_start') }}">
                            Task: Admin :: alive message
                        </a>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_database_drop') }}">
                            Task: Admin :: database :: drop_create and import
                        </a>
                          <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_database_dropcreate_only') }}">
                            Task: Admin :: database :: drop_create only
                        </a>
                        <a class="dropdown-item"  href="{{ url_for( 'app_admin.url_admin_database_dump') }}">
                            Task: Admin :: database :: dump
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_database_dump_reimport') }}">
                            Task: Admin :: database :: dump :: reimport
                        </a>
                    </div>
                </li>