    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <!-- TODO: change URL to for_url() -->
                <th scope="col">
                    <a href="{{ url_for('ecdc.url_ecdc_date_reported_all') }}">
                        date rep
                    </a>
                </th>
                <th scope="col">year_week</th>
                <th scope="col">
                    {% if europe_date_reported %}
                        <a href="{{ url_for( 'ecdc.url_ecdc_date_reported_one_cases_weekly',
                            europe_date_reported_id=europe_date_reported.id,
                            page=page_data.page) }}">
                            deaths weekly
                        </a>
                    {% endif %}
                    {% if europe_country %}
                        deaths weekly
                    {% endif %}
                </th>
                <th scope="col">
                    {% if europe_date_reported %}
                        <a href="{{ url_for( 'ecdc.url_ecdc_date_reported_one_cases_weekly',
                            europe_date_reported_id=europe_date_reported.id,
                            page=page_data.page) }}">
                            cases weekly
                        </a>
                    {% endif %}
                    {% if europe_country %}
                        cases weekly
                    {% endif %}
                </th>
                <th scope="col">
                    {% if europe_date_reported %}
                        <a href="{{ url_for( 'ecdc.url_ecdc_date_reported_one_cases_weekly',
                                    europe_date_reported_id=europe_date_reported.id,
                                    page=page_data.page) }}">
                            notification rate per 100000 population 14days
                        </a>
                    {% endif %}
                    {% if europe_country %}
                        notification rate per 100000 population 14days
                    {% endif %}
                </th>
                <th scope="col">
                    <a href="/ecdc/country/all">
                        countries and territories
                    </a>
                </th>
                <th scope="col">population data 2019</th>
                <th scope="col">
                    <a href="{{ url_for('ecdc.url_ecdc_country_all') }}">
                        geo id
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for('ecdc.url_ecdc_country_all') }}">
                        country territory code
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for('ecdc.url_ecdc_continent_all') }}">
                        continent
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for ecdc_data in page_data.items %}
            <tr>
                <td>
                    <a href="/ecdc/date_reported/{{ ecdc_data.ecdc_date_reported.id }}">
                        {{ ecdc_data.ecdc_date_reported.get_name_for_datum() }}
                    </a>
                </td>
                <td>
                    <a href="/ecdc/date_reported/{{ ecdc_data.ecdc_date_reported.id }}">
                        {{ ecdc_data.ecdc_date_reported.year_week }}
                    </a>
                </td>
                <td>{{ ecdc_data.deaths_weekly }}</td>
                <td>{{ ecdc_data.cases_weekly }}</td>
                <td>{{ ecdc_data.notification_rate_per_100000_population_14days }}</td>
                <td>
                    <a href="/ecdc/country/{{ ecdc_data.ecdc_country.id }}">
                        {{ ecdc_data.ecdc_country.countries_and_territories }}
                    </a>
                </td>
                <td>{{ ecdc_data.ecdc_country.pop_data_2019 }}</td>
                <td>
                    <a href="/ecdc/country/{{ ecdc_data.ecdc_country.id }}">
                        {{ ecdc_data.ecdc_country.geo_id }}
                    </a>
                </td>
                <td>
                    <a href="/ecdc/country/{{ ecdc_data.ecdc_country.id }}">
                        {{ ecdc_data.ecdc_country.country_territory_code }}
                    </a>
                </td>
                <td>
                    <a href="/ecdc/continent/{{ ecdc_data.ecdc_country.continent.id }}">
                        {{ ecdc_data.ecdc_country.continent.continent_exp }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>