    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <th scope="col">continent</th>
            </tr>
        </thead>
        <tbody>
        {% for europe_continent in page_data.items %}
            <tr>
                <td>
                    <!-- TODO: change URL to for_url() -->
                    <a href="/ecdc/continent/{{ europe_continent.id }}">
                        {{ europe_continent.region }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>