            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/tasks">Vaccination tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/info">Vaccination Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/imported">Vaccination imported</a>
                    </li>
                </ul>
            </nav>