            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/tasks">WHO Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/tasks">WHO tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/imported">WHO imported</a>
                    </li>
                </ul>
            </nav>