            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/tasks">Europe tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/info">Europe Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/date_reported">Europe date_reported</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/continent">Europe continent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/country">Europe country</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/data">Europe data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/imported">Europe imported</a>
                    </li>
                </ul>
            </nav>