
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        WHO
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/who/info">WHO</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/who/region/all">WHO Regions</a>
                        <a class="dropdown-item" href="/who/date_reported/all">WHO Date Reported</a>
                        <a class="dropdown-item" href="/who/country/all">WHO Countries</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/who/germany">WHO Germany</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/who/update">WHO Task: Update Data</a>
                        <a class="dropdown-item" href="/who/update/short">WHO Task: Update Data Short</a>
                        <a class="dropdown-item" href="/who/imported">WHO imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/who/tasks">WHO Tasks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Europe
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/europe/info">Europe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/country/all">Europe Countries</a>
                        <a class="dropdown-item" href="/europe/germany">Europe Germany</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Europe Task: Update Data</a>
                        <a class="dropdown-item" href="/europe/imported">Europe imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/europe/tasks">Europe Tasks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/rki/info">RKI</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/imported">RKI imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/rki/tasks">RKI Tasks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NRW
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/nrw/info">NRW</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/nrw/region/all">NRW Staedte</a>
                        <a class="dropdown-item" href="/nrw/bochum">NRW Bochum</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">NRW Task: Update Data</a>
                        <a class="dropdown-item" href="/nrw/imported">NRW imported</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/nrw/tasks">NRW Tasks</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>