            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/who/tasks">WHO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/tasks">Europe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/tasks">RKI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/tasks">Vaccination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nrw/tasks">NRW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tasks">Admin</a>
                    </li>
                </ul>
            </nav>