            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/info">Europe Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/tasks">Europe tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/imported">Europe imported</a>
                    </li>
                </ul>
            </nav>