            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nrw/info">NRW Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nrw/tasks">NRW tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nrw/imported">NRW imported</a>
                    </li>
                </ul>
            </nav>