{% extends 'page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block main_container %}
    <h3>WHO</h3>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Views">
            <a class="btn btn-primary btn-lg" href="/who/update/initial" role="button">WHO :: update :: initial</a>
            <a class="btn btn-secondary btn-lg" href="/who/update/short" role="button">WHO :: update :: short</a>
        </div>
    </div>
    <h3>Europe</h3>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Views">
            <a class="btn btn-primary btn-lg" href="/europe/update/initial" role="button">Europe :: update :: initial</a>
            <a class="btn btn-secondary btn-lg" href="/europe/update/short" role="button">Europe :: update :: short</a>
        </div>
    </div>
    <h3>Admin</h3>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Views">
            <a class="btn btn-secondary btn-lg" href="/admin/alive_message" role="button">Admin :: alive message</a>
            <a class="btn btn-primary btn-lg" href="/admin/database/drop" role="button">Admin :: database :: drop_create</a>
            <a class="btn btn-secondary btn-lg" href="/admin/database/dump" role="button">Admin :: database :: dump</a>
            <a class="btn btn-primary btn-lg" href="/admin/database/import" role="button">Admin :: database :: import</a>
        </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



