{% extends 'layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block main_container %}
    <div class="btn-group" role="group" aria-label="Views">
        <a class="btn btn-secondary btn-lg" href="/test/alive_message" role="button">Test :: alive message</a>
    </div>
    <div class="btn-group" role="group" aria-label="Views">
        <a class="btn btn-primary btn-lg" href="/who/update/short" role="button">WHO :: update :: short</a>
        <a class="btn btn-secondary btn-lg" href="/who/update" role="button">WHO :: update</a>
    </div>
    <div class="btn-group" role="group" aria-label="Views">
        <a class="btn btn-primary btn-lg" href="/europe/update" role="button">Europe :: update</a>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



