    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                    aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar content -->
            <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                <a class="navbar-brand" href="{{ url_for( 'url_home') }}">Covid19 | Data</a>
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for( 'url_home') }}">Home</a>
                    </li>

                    {% include 'who/navigation/who_navbar_dropdown.html' %}

                    {% include 'ecdc/navigation/ecdc_navbar_dropdown.html' %}

                    {% include 'owid/navigation/owid_navbar_dropdown.html' %}

                    {% include 'rki_vaccination/navigation/rki_vaccination_navbar_dropdown.html' %}

                    {% include 'rki_bundeslaender/navigation/rki_bundeslaender_navbar_dropdown.html' %}

                    {% include 'rki_landkreise/navigation/rki_landkreise_navbar_dropdown.html' %}

                    {% include 'admin/navigation/admin_navbar_dropdown.html' %}

                    {% include 'user/navigation/user_navbar_dropdown.html' %}

                </ul>
            </div>
        </nav>
    </div>