            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <!-- TODO: change URL to for_url() -->
                        <a class="nav-link"
                           href="{{ url_for('rki_bundeslaender.url_rki_info') }}">RKI Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rki_bundeslaender.url_rki_tasks') }}">RKI tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_imported') }}">RKI imported</a>
                    </li>
                </ul>
            </nav>