
    <nav class="navbar navbar navbar-dark bg-dark navbar-expand-lg container-fluid">
        <span class="container">
            <a class="navbar-brand" href="{{ url_for( 'url_home') }}">Covid19 Data</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for( 'url_home') }}">Home</a>
                    </li>

                    {% include 'who/fragments/fragment_who_navbar_dropdown.html' %}

                    {% include 'ecdc/fragments/fragment_ecdc_navbar_dropdown.html' %}

                    {% include 'owid/fragments/fragment_owid_navbar_dropdown.html' %}

                    {% include 'rki_vaccination/fragments/fragment_rki_vaccination_navbar_dropdown.html' %}

                    {% include 'rki_bundeslaender/fragments/fragment_rki_bundeslaender_navbar_dropdown.html' %}

                    {% include 'rki_landkreise/fragments/fragment_rki_landkreise_navbar_dropdown.html' %}

                    {% include 'admin/fragments/fragment_admin_navbar_dropdown.html' %}

                </ul>
            </div>
        </span>
    </nav>