    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <th scope="col">iso_code</th>
                <th scope="col">continent</th>
                <th scope="col">location</th>
                <th scope="col">date</th>
                <th scope="col">total_cases</th>
                <th scope="col">new_cases</th>
                <th scope="col">new_cases_smoothed</th>
                <th scope="col">total_deaths</th>
                <th scope="col">new_deaths</th>
                <th scope="col">new_deaths_smoothed</th>
                <th scope="col">total_cases_per_million</th>
                <th scope="col">new_cases_per_million</th>
                <th scope="col">new_cases_smoothed_per_million</th>
                <th scope="col">total_deaths_per_million</th>
                <th scope="col">new_deaths_per_million</th>
                <th scope="col">new_deaths_smoothed_per_million</th>
                <th scope="col">reproduction_rate</th>
                <th scope="col">icu_patients</th>
                <th scope="col">icu_patients_per_million</th>
                <th scope="col">hosp_patients</th>
                <th scope="col">hosp_patients_per_million</th>
                <th scope="col">weekly_icu_admissions</th>
                <th scope="col">weekly_icu_admissions_per_million</th>
                <th scope="col">weekly_hosp_admissions</th>
                <th scope="col">weekly_hosp_admissions_per_million</th>
                <th scope="col">new_tests</th>
                <th scope="col">total_tests</th>
                <th scope="col">total_tests_per_thousand</th>
                <th scope="col">new_tests_per_thousand</th>
                <th scope="col">new_tests_smoothed</th>
                <th scope="col">new_tests_smoothed_per_thousand</th>
                <th scope="col">positive_rate</th>
                <th scope="col">tests_per_case</th>
                <th scope="col">tests_units</th>
                <th scope="col">total_vaccinations</th>
                <th scope="col">people_vaccinated</th>
                <th scope="col">people_fully_vaccinated</th>
                <th scope="col">new_vaccinations</th>
                <th scope="col">new_vaccinations_smoothed</th>
                <th scope="col">total_vaccinations_per_hundred</th>
                <th scope="col">people_vaccinated_per_hundred</th>
                <th scope="col">people_fully_vaccinated_per_hundred</th>
                <th scope="col">new_vaccinations_smoothed_per_million</th>
                <th scope="col">stringency_index</th>
                <th scope="col">population</th>
                <th scope="col">population_density</th>
                <th scope="col">median_age</th>
                <th scope="col">aged_65_older</th>
                <th scope="col">aged_70_older</th>
                <th scope="col">gdp_per_capita</th>
                <th scope="col">extreme_poverty</th>
                <th scope="col">cardiovasc_death_rate</th>
                <th scope="col">diabetes_prevalence</th>
                <th scope="col">female_smokers</th>
                <th scope="col">male_smokers</th>
                <th scope="col">handwashing_facilities</th>
                <th scope="col">hospital_beds_per_thousand</th>
                <th scope="col">life_expectancy</th>
                <th scope="col">human_development_index</th>
            </tr>
        </thead>
        <tbody>
        {% for owid in page_data.items %}
            <tr>
                <td>{{ owid.country.iso_code }}</td>
                <td>{{ owid.country.continent.region }}</td>
                <td>{{ owid.country.location }}</td>
                <td>{{ owid.date_reported }}</td>
                <td>{{ owid.total_cases }}</td>
                <td>{{ owid.new_cases }}</td>
                <td>{{ owid.new_cases_smoothed }}</td>
                <td>{{ owid.total_deaths }}</td>
                <td>{{ owid.new_deaths }}</td>
                <td>{{ owid.new_deaths_smoothed }}</td>
                <td>{{ owid.total_cases_per_million }}</td>
                <td>{{ owid.new_cases_per_million }}</td>
                <td>{{ owid.new_cases_smoothed_per_million }}</td>
                <td>{{ owid.total_deaths_per_million }}</td>
                <td>{{ owid.new_deaths_per_million }}</td>
                <td>{{ owid.new_deaths_smoothed_per_million }}</td>
                <td>{{ owid.reproduction_rate }}</td>
                <td>{{ owid.icu_patients }}</td>
                <td>{{ owid.icu_patients_per_million }}</td>
                <td>{{ owid.hosp_patients }}</td>
                <td>{{ owid.hosp_patients_per_million }}</td>
                <td>{{ owid.weekly_icu_admissions }}</td>
                <td>{{ owid.weekly_icu_admissions_per_million }}</td>
                <td>{{ owid.weekly_hosp_admissions }}</td>
                <td>{{ owid.weekly_hosp_admissions_per_million }}</td>
                <td>{{ owid.new_tests }}</td>
                <td>{{ owid.total_tests }}</td>
                <td>{{ owid.total_tests_per_thousand }}</td>
                <td>{{ owid.new_tests_per_thousand }}</td>
                <td>{{ owid.new_tests_smoothed }}</td>
                <td>{{ owid.new_tests_smoothed_per_thousand }}</td>
                <td>{{ owid.positive_rate }}</td>
                <td>{{ owid.tests_per_case }}</td>
                <td>{{ owid.tests_units }}</td>
                <td>{{ owid.total_vaccinations }}</td>
                <td>{{ owid.people_vaccinated }}</td>
                <td>{{ owid.people_fully_vaccinated }}</td>
                <td>{{ owid.new_vaccinations }}</td>
                <td>{{ owid.new_vaccinations_smoothed }}</td>
                <td>{{ owid.total_vaccinations_per_hundred }}</td>
                <td>{{ owid.people_vaccinated_per_hundred }}</td>
                <td>{{ owid.people_fully_vaccinated_per_hundred }}</td>
                <td>{{ owid.new_vaccinations_smoothed_per_million }}</td>
                <td>{{ owid.stringency_index }}</td>
                <td>{{ owid.country.population }}</td>
                <td>{{ owid.country.population_density }}</td>
                <td>{{ owid.country.median_age }}</td>
                <td>{{ owid.country.aged_65_older }}</td>
                <td>{{ owid.country.aged_70_older }}</td>
                <td>{{ owid.country.gdp_per_capita }}</td>
                <td>{{ owid.country.extreme_poverty }}</td>
                <td>{{ owid.country.cardiovasc_death_rate }}</td>
                <td>{{ owid.country.diabetes_prevalence }}</td>
                <td>{{ owid.country.female_smokers }}</td>
                <td>{{ owid.country.male_smokers }}</td>
                <td>{{ owid.country.handwashing_facilities }}</td>
                <td>{{ owid.country.hospital_beds_per_thousand }}</td>
                <td>{{ owid.country.life_expectancy }}</td>
                <td>{{ owid.country.human_development_index }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>