                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vaccination
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/vaccination/timeline/germany">Vaccination</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/vaccination/tasks">Vaccination tasks</a>
                        <a class="dropdown-item" href="/vaccination/info">Vaccination Info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/vaccination/update/initial">Task: Vaccination :: update :: initial</a>
                        <a class="dropdown-item" href="/vaccination/update/short">Task: Vaccination :: update :: short</a>
                        <!-- Tasks -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/vaccination/timeline/germany">Vaccination Timeline Germany</a>
                    </div>
                </li>