                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="javascript:void(0)">
                        User<i class="glyphicon glyphicon-chevron-down small"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'user.url_user_info') }}">
                                User
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'user.url_user_info') }}">
                                User Info
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'user.url_user_tasks') }}">
                                User Tasks
                            </a>
                        </li>
                    </ul>
                </li>