              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRkiBundeslaender" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RKI Bundeslaender
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownRkiBundeslaender">
                        <a class="dropdown-item"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_info') }}">
                            RKI Bundeslaender Info
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_imported') }}">
                            RKI Bundeslaender imported
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ url_for('rki_bundeslaender.url_rki_bundeslaender_tasks') }}">
                            RKI Bundeslaender Tasks
                        </a>
                    </div>
                </li>
