            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/who/info">WHO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/europe/info">Europe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vaccination/info">Vaccination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rki/info">RKI</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="/nrw/tasks">NRW</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tasks">Admin</a>
                    </li>
                </ul>
            </nav>