{% extends 'page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block main_container %}
        <h3>Welcome</h3>
        <div class="row">
            <div class="col bg-secondary">
              One of three columns
            </div>
            <div class="col bg-light">
              One of three columns
            </div>
            <div class="col bg-secondary">
              One of three columns
            </div>
        </div>
{% endblock %}

{% block footer_container %}

{% endblock %}



