{% extends 'common/page_layout.html' %}

{% block navigation_breadcrumb %}

{% endblock %}

{% block navigation_navtabs %}
  {% include 'vaccination/fragments/fragment_vaccination_navtabs.html' %}
{% endblock %}

{% block main_container %}
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-primary btn-lg" href="/vaccination/update/initial" role="button">Vaccination :: update :: initial</a>
                <a class="btn btn-secondary btn-lg" href="/vaccination/update/short" role="button">Vaccination :: update :: short</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Vaccination Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-primary btn-lg btn-block text-left"
                   href="/vaccination/task/update/star_schema/initial"
                   role="button">Vaccination :: Task :: update :: star_schema :: initial</a>
                <a class="btn btn-primary btn-lg btn-block text-left"
                   href="/vaccination/task/update/star_schema/incremental"
                   role="button">Vaccination :: Task :: update :: star_schema :: incremental</a>
            </div>
        </div>
        <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Views">
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/vaccination/task/download/only"
                   role="button">Vaccination :: Task :: download :: only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/vaccination/task/import/only"
                   role="button">Vaccination :: Task :: import :: only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/vaccination/task/update/dimension-tables/only"
                   role="button">Vaccination :: Task :: update :: dimension-tables : only</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/vaccination/task/update/fact-table/incremental/only"
                   role="button">Vaccination :: Task :: update :: fact-table :: only :: incremental</a>
                <a class="btn btn-secondary btn-lg btn-block text-left"
                   href="/vaccination/task/update/fact-table/initial/only"
                   role="button">Vaccination :: Task :: update :: fact-table :: only :: initial</a>
            </div>
        </div>
    </div>
{% endblock %}



{% block footer_container %}

{% endblock %}



